footer {
  background: $white;
  padding: $padding;

  .company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "logo company-info"
      "logo copyright"
      ". footer-menu";
  }

  .logo {
    grid-area: logo;
  }

  .company-info {
    grid-area: company-info;
  }

  .copyright {
    grid-area: copyright;
  }

  .footer-menu {
    grid-area: footer-menu;
  }
}
