footer {
  background: $white;
  padding: $padding;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "logo company-info"
      "logo copyright"
      ". footer-links";
  }

  .logo {
    grid-area: logo;
  }

  .company-info {
    grid-area: company-info;
  }

  .copyright {
    grid-area: copyright;
  }

  .footer-links {
    grid-area: footer-links;
  }
}
