// Colors
$red: #d62725;
$yellow: #fdc619;
$green: #00a46e;
$black: #3c3c3c;
$white: #ffffff;

$primary: $red;
$secondary: $green;

$padding: 1rem 10rem;
$margin: 2rem 10rem;
$first-of-type: 50px 10rem;
