#review-page {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: "main aside";
  gap: 30px;
  margin: $margin;
}

.content-wrapper {
  background: url('../../img/bg.png');
  height: calc(100vh - 350px);
  margin: $margin;
}

main {
  &#review {
    grid-area: main;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
      "Content"
      "Comments";
    gap: 30px;
  }

  &#frontpage {
    text-align: center;
  }
}

aside {
  grid-area: aside;
}

.container {
  width: 100%;
  padding: 1rem;
  background: $white;
  border-radius: 5px;
}
