#content-wrapper {
  display: grid;
  grid-template-columns: 800px 450px;
  grid-template-areas: "main aside";
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "Content"
    "Comments";
  gap: 30px;
}

aside {
  grid-area: aside;
  gap: 30px;
}

.container {
  width: 100%;
  padding: 1rem;
  background: $white;
}
