#content-wrapper {
  display: grid;
  grid-template-columns: 800px 450px;
  grid-template-areas: "main aside";
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "Content"
    "Comments";

  margin: $margin;

  &:first-of-type {
    margin: $first-of-type;
  }
}

aside {
  grid-area: aside;
}

.container {
  width: 100%;
  padding: 1rem;
  background: $white;
}
