nav {
  display: flex !important;
  background: #fff;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;

    li {
      list-style: none;
      padding: 10px 20px;
    }
  }
}
