.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $white;
  padding: $padding;

  .search {
    input[type="search"] {
      width: 400px;
      height: 60px;
      padding: 12px 20px;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
      }
    }
  }

  .logo {
    background: url(../../img/logo.png) no-repeat;
    height: 67px;
    width: 250px;
  }
}
