#analytics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Logo Analytics";
}

.logo {
  grid-area: Logo;
}

.Analytics {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Gauge Name"
    "Gauge Besvarelser"
    "Gauge spread";
  grid-area: Analytics;
}

.Gauge {
  grid-area: Gauge;
}

.Name {
  grid-area: Name;
}

.Besvarelser {
  grid-area: Besvarelser;
}

.spread {
  grid-area: spread;
}
