#analytics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Logo Analytics";

  width: 800px;
  padding: 3rem;
  margin: 0 auto;
  border: 1px solid red;

  .logo {
    grid-area: Logo;
    align-self: center;
  }

  .analytics {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Gauge Name"
      "Gauge total-respondents"
      "Gauge spread";
    grid-area: Analytics;

    .gauge {
      grid-area: Gauge;
      align-self: center;
    }

    .name {
      grid-area: Name;
      align-self: center;
      padding: 0.5rem 0rem;
    }

    .total-respondents {
      grid-area: total-respondents;
      align-self: center;
      padding: 0.5rem 0rem;
    }

    .spread {
      display: grid;
      grid-template-columns: 15% 30% 55%;
      grid-template-rows: 1fr;
      grid-template-areas: "detractors passive promoters";
      grid-area: spread;

      .detractors {
        grid-area: detractors;
        background: red;
        color: white;
        padding: 0.5rem;
      }
      .passive {
        grid-area: passive;
        background: yellow;
        padding: 0.5rem;
      }
      .promoters {
        grid-area: promoters;
        background: green;
        color: white;
        padding: 0.5rem;
      }
    }
  }
}
