main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: $margin;

  &:first-of-type {
    margin: $first-of-type;
  }
}

.container {
  width: 800px;
  padding: 1rem;
  background: $white;
}
