nav {
  display: flex !important;
  width: 100%;
  background: #fff;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;

    li {
      list-style: none;
      padding: 10px 20px;

      &.btn {
        padding: 10px 40px;
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        transition: 0.3s ease;
      }
    }
  }
}
