#analytics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Logo Analytics";
  border-radius: 5px;
  padding: 2rem;

  .logo {
    grid-area: Logo;
    align-self: center;
    justify-self: center;
    height: 250px;
  }

  .analytics {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Gauge Name"
      "Gauge total-respondents"
      "Gauge spread";
    grid-area: Analytics;

    .gauge {
      grid-area: Gauge;
      align-self: center;
      justify-self: center;
    }

    .name {
      grid-area: Name;
      align-self: center;
      font-size: 28px;
      font-weight: 700;
    }

    .total-respondents {
      grid-area: total-respondents;
      align-self: center;
    }

    .spread {
      display: grid;
      grid-template-columns: 15% 30% 55%;
      grid-template-areas: "detractors passive promoters";
      grid-area: spread;
      height: 30px;
      text-align: center;
      align-items: center;

      .detractors {
        grid-area: detractors;
        background: red;
        color: white;
        padding: 5px 0px;
      }
      .passive {
        grid-area: passive;
        background: yellow;
        padding: 5px 0px;
      }
      .promoters {
        grid-area: promoters;
        background: green;
        color: white;
        padding: 5px 0px;
      }
    }
  }
}
