#comments {
  grid-area: Comments;
  display: grid;
  gap: 10px;

  .container {
    padding: 2rem;
    border-radius: 5px;
    min-height: 150px;
  }

  .comment {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas:
      "rating user"
      "rating response";
  }

  .rating {
    grid-area: rating;
  }

  .user {
    grid-area: user;
  }

  .response {
    grid-area: response;
  }
}
