#responseContainer {
  grid-area: Comments;
  display: grid;
  gap: 10px;

  .container {
    padding: 2rem;
    border-radius: 5px;
    min-height: 150px;
  }

  .response {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas:
      "rating user"
      "rating response";
  }

  .rating {
    grid-area: rating;
    justify-self: center;

    .score {
      background: $green;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }
  }

  .user {
    grid-area: user;
    font-weight: 700;
    font-size: 20px;

    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .response {
    grid-area: response;
  }
}
