#frontpage {
    input[type="search"] {
        width: 600px;
        height: 60px;
        padding: 12px 20px;
        margin-right: 10px;
      
        &:focus {
          outline: none;
        }
      
        &:active {
          outline: none;
        }
      }
}