input[type="search"] {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.btn {
  border: none;
  color: $white;
  padding: 14px 28px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &.btn-primary {
    background-color: $primary;

    &:hover {
      background-color: lighten($primary, 5);
    }
  }

  &.btn-link {
    background-color: transparent;
    color: $primary;

    &:hover {
      color: lighten($primary, 5);
      text-decoration: underline;
    }
  }
}
