#frontpage {
  input[type="search"] {
    width: 600px;
    height: 60px;
    padding: 12px 20px;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  .search-results {

    ul {
      margin: 0 !important;
      list-style-type: none;
      text-align: left;
    }
  }
}
