#frontpage {
  input[type="search"] {
    width: 800px;
    height: 80px;
    padding: 12px 20px;
    font-size: 22px;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  .search-result-wrapper {

    .search-results {
      width: 800px;
      list-style-type: none;
      text-align: left;
      background: $white;
      position: absolute;
      
      a {
        text-decoration: none;
        color: $black;
      }

      li {
        padding: 15px 12px;
        transition: 0.1s all ease-in-out;

        &:hover {
          transition: 0.1s all ease-in-out;
          background-color: darken($white, 5%);
          color: $primary;
        }
      }
    }
  }
}
